{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
<ul>
<li><a href="/contact">- Test Contact</a></li>
<li><a href="/">- Test</a></li></ul>
{% endblock %}
